</div>

{{!-- Sample taken from: https://bootsnipp.com/snippets/7nmOW --}}
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Me</h2><br>
      <h4>Hi, I am a Software Developer who constantly seeks out innovative solutions to everyday problems. Currently, I am studying computer programming at Georgian College, Barrie, ON. I have worked on several projects of which, some are a part of my course work during my college and also during my Bachleors. Some other projects are a part of my curosity to learn new technologies and new languages which keeps me motivated to enjoy the journey of programming.</h4><br>
      <p>Feel free me to contact me for any queries/suggestions. The website is still under development and there are many things that will be added in future as in the future.</p>
      <br><button class="btn btn-default btn-lg" onclick="window.location.href='/contact';">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <img src="\images\kitty.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>